* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: silver;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}
.brand img {
    width: 50px;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li {
    list-style: none;
    display: flex;
    margin: 15px;
    position: relative;
}
header nav ul li a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
    padding: 10px 0;
}
header nav ul li .sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;  
    background-color: silver;
    color: #222;
    min-width: 180px;
    border: 1px solid black !important;
    padding: 0;
}
header nav ul li .sub-menu li a {
    padding: 0;
}
header nav ul li:hover .sub-menu {
    display: block;
}
